# Web Framework
fastapi==0.115.0
uvicorn==0.50.0

# Environment Variables
python-dotenv==1.2.2

# HTTP Requests
requests==2.32.5

# Database
supabase==2.31.0

# Vector Store
chromadb==1.5.9

# LLM
groq==0.37.1

# LangChain
langchain==0.3.25
langchain-core==0.3.65
langchain-groq==0.3.2
langchain-community==0.3.25
langchain-text-splitters==0.3.8

# Data Processing
pandas==2.3.3
openpyxl==3.1.5

# Embeddings
huggingface_hub==1.13.0

# Evaluation
scikit-learn==1.8.0

# Test
pytest==8.3.4
pytest-mock==3.14.0
json-repair
